.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.container form {
  display: flex;
  flex-direction: row;
}

.input {
  padding-left: 10px;
  font-size: 18px;
  border-radius: 5px;
  height: 30px;
  width: 250px;
  border: 0;
  background-color: #f0f0f0;
  align-self: stretch;
}
.input:focus {
  outline: none;
}
