.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url("https://img.freepik.com/vector-gratis/fondo-viaje-realista-elementos_52683-77784.jpg?w=740&t=st=1686074937~exp=1686075537~hmac=5f6f5accaa4bc53af9fa1ba413c79c75540e2b70842c72fe7014da21c649d60b");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
.container button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  background-color: #ecca33;
  font-size: 17px;
  font-weight: bold;
  border-radius: 5px;
  width: 300px;
  height: 47px;
  border: none;
  text-decoration: none;
  color: #222;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.container button:hover {
  background-color: #ffff01;
}
.container ul {
  list-style: none;
}
.container h2 {
  color: #fafafc;
}
.detailContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  border-radius: 10px;
  background-color: #000000dc;
  font-size: 20px;
  border: solid 2px #ffff01;
}
.imageContainer {
  display: flex;
  justify-content: center;
}
.imagen {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.actContainer {
  padding: 0 10px;
  width: 300px;
  height: 550px;
  text-align: center;
  border-left: 2px solid #ffff01;
  color: white;
  text-transform: capitalize;
  overflow-y: auto;
}
.text {
  text-align: center;

  width: 300px;
  height: 550px;
  color: white;
}
.failure {
  font-size: 30px;
  text-align: center;
  background-color: rgb(58, 58, 179);
  min-height: 100vh;
  padding-top: 30px;
}
@media screen and (max-width: 700px) {
  .detailContainer {
    /* flex-direction: column; */
    min-width: 100%;
  }
  .image {
    max-width: 100%;
  }
  .imageContainer {
    max-width: 100%;
  }
}
